body{
background-image: url('OIP2.jpg');
background-repeat: no-repeat;
background-size: cover;
}

h1{
    font-size: 40px;
    color:darkmagenta;
    font-family:fantasy;
    text-align: center;
}

h2{
    font-size: 30px;
    color:yellow;
    font-family: sans-serif;
    
}

.GenText{
    font-size: 25px;
    color:yellow;

}

.smolIma{
    height: 150px;
    width: 150px;
    
}

button{
    width: 95px;
    height: 40px;
    background: none;
    border: 4px solid black;
}